script(src='js/jquery-ui.js')
script.
    jQuery(document).ready(function () {
        jQuery('.accordion').accordion();
    });
.wrapper-3
    .spectrum-row
        .accordion
            h5
                | What is Lorem
                | Ipsum?

            div
                .answer
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula feugiat blandit. Nulla
                        | facilisi. Nulla tellus nisi, congue id tristique vitae, lacinia iaculis
                        | magna. Curabitur mattis nec nisi non consequat. Morbi nunc nisi, scelerisque in ornare ut,
                        | congue
                        | viverra lectus. Ut ut pretium elit. Donec laoreet eros sit amet
                        | purus tempus, nec faucibus enim scelerisque. Vivamus fermentum risus sapien, non sodales est
                        | vestibulum nec. Cras aliquet porttitor enim at adipisc.

            h5
                | Why Lorem Ipsum?

            div
                .answer
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula feugiat blandit. Nulla
                        | facilisi. Nulla tellus nisi, congue id tristique vitae, lacinia iaculis
                        | magna. Curabitur mattis nec nisi non consequat. Morbi nunc nisi, scelerisque in ornare ut,
                        | congue
                        | viverra lectus. Ut ut pretium elit. Donec laoreet eros sit amet
                        | purus tempus, nec faucibus enim scelerisque. Vivamus fermentum risus sapien, non sodales est
                        | vestibulum nec. Cras aliquet porttitor enim at adipisc.

            h5
                | Origin of Lorem
                | Ipsum?

            div
                .answer
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula feugiat blandit. Nulla
                        | facilisi. Nulla tellus nisi, congue id tristique vitae, lacinia iaculis
                        | magna. Curabitur mattis nec nisi non consequat. Morbi nunc nisi, scelerisque in ornare ut,
                        | congue
                        | viverra lectus. Ut ut pretium elit. Donec laoreet eros sit amet
                        | purus tempus, nec faucibus enim scelerisque. Vivamus fermentum risus sapien, non sodales est
                        | vestibulum nec. Cras aliquet porttitor enim at adipisc.

            h5
                | Focused in Lorem
                | Ipsum?

            div
                .answer
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula feugiat blandit. Nulla
                        | facilisi. Nulla tellus nisi, congue id tristique vitae, lacinia iaculis
                        | magna. Curabitur mattis nec nisi non consequat. Morbi nunc nisi, scelerisque in ornare ut,
                        | congue
                        | viverra lectus. Ut ut pretium elit. Donec laoreet eros sit amet
                        | purus tempus, nec faucibus enim scelerisque. Vivamus fermentum risus sapien, non sodales est
                        | vestibulum nec. Cras aliquet porttitor enim at adipisc.

            h5
                | Focused in Lorem
                | Ipsum?

            div
                .answer
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula feugiat blandit. Nulla
                        | facilisi. Nulla tellus nisi, congue id tristique vitae, lacinia iaculis
                        | magna. Curabitur mattis nec nisi non consequat. Morbi nunc nisi, scelerisque in ornare ut,
                        | congue
                        | viverra lectus. Ut ut pretium elit. Donec laoreet eros sit amet
                        | purus tempus, nec faucibus enim scelerisque. Vivamus fermentum risus sapien, non sodales est
                        | vestibulum nec. Cras aliquet porttitor enim at adipisc.

            h5
                | Focused in Lorem
                | Ipsum?

            div
                .answer
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula feugiat blandit. Nulla
                        | facilisi. Nulla tellus nisi, congue id tristique vitae, lacinia iaculis
                        | magna. Curabitur mattis nec nisi non consequat. Morbi nunc nisi, scelerisque in ornare ut,
                        | congue
                        | viverra lectus. Ut ut pretium elit. Donec laoreet eros sit amet
                        | purus tempus, nec faucibus enim scelerisque. Vivamus fermentum risus sapien, non sodales est
                        | vestibulum nec. Cras aliquet porttitor enim at adipisc.
