section#reviews.section
    .spectrum-row
        .review.left
            img.avatar(src='img/team/1.png')

            .message
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    | eiusmodtempor incididunt ut labore et dolore magna aliqua.
                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    | laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    | irure dolor in reprehenderit.

                p By John Doe

                p From JohnCorporation

        .review.right
            img.avatar(src='img/team/2.png')
                .message
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                | eiusmodtempor incididunt ut labore et dolore magna aliqua.
                | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                | laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                | irure dolor in reprehenderit.
            p By John Doe

            p From JohnCorporation

        .review.left
            img.avatar(src='img/team/3.png')
                .message
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                | eiusmodtempor incididunt ut labore et dolore magna aliqua.
                | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                | laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                | irure dolor in reprehenderit.
            p By John Doe

            p From JohnCorporation

        .review.right
            img.avatar(src='img/team/4.png')
                .message
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                | eiusmodtempor incididunt ut labore et dolore magna aliqua.
                | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                | laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                | irure dolor in reprehenderit.
            p By John Doe

            p From JohnCorporation
