script(src='js/jquery.mixitup.js')
script.
    jQuery(document).ready(function () {
        jQuery('.portfolio').mixItUp();
    });
section.wrapper
    .spectrum-row
        .filters
            .filter-container
                .filter(data-role='button', data-filter='all') All

                .filter(data-role='button', data-filter='.design') Design

                .filter(data-role='button', data-filter='.development') Development

        .clearfix

        .portfolio.one-column.filter-list
            article.mix.item.design
                a.plink(href='project.html')
                    img.portfolio-image(src='img/700/1.png', alt='')

                    .hover
                        i.icon-view

                .description
                    h2
                        a(href='project.html') Project Description

                    p
                        | Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit, sed do
                        | eiusmod tempor incididunt ut
                        | labore et magna aliqua. Ut enim
                        | ad minim veniam, quis nostrud
                        | exercitation ullamco laboris nisi ut
                        | aliquip. lorem dolor sit amet,
                        | consectetur adipisicing elit, sed do
                        | eiusmod tempor incididunt ut
                        | labore et dolore.

                    a.spectrum-button.spectrum-button-medium.view-project(href='project.html') View Project

            article.mix.item.development
                a.plink(href='project.html')
                    img.portfolio-image(src='img/700/2.png', alt='')

                    .hover
                        i.icon-view

                .description
                    h2
                        a(href='project.html') Project Description

                    p
                        | Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit, sed do
                        | eiusmod tempor incididunt ut
                        | labore et magna aliqua. Ut enim
                        | ad minim veniam, quis nostrud
                        | exercitation ullamco laboris nisi ut
                        | aliquip.

                    a.spectrum-button.spectrum-button-medium.view-project(href='project.html') View Project

            article.mix.item.design
                a.plink(href='project.html')
                    img.portfolio-image(src='img/700/3.png', alt='')

                    .hover
                        i.icon-view

                .description
                    h2
                        a(href='project.html') Project Description

                    p
                        | Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit, sed do
                        | eiusmod tempor incididunt ut
                        | labore et magna aliqua. Ut enim
                        | ad minim veniam, quis nostrud
                        | exercitation ullamco laboris nisi ut
                        | aliquip. lorem dolor sit amet,
                        | consectetur adipisicing elit, sed do
                        | eiusmod tempor incididunt ut
                        | labore et dolore.Lorem dolor sit amet,
                        | consectetur adipisicing elit, sed do
                        | eiusmod tempor incididunt ut
                        | labore et dolore.

                    a.spectrum-button.spectrum-button-medium.view-project(href='project.html') View Project

            article.mix.item.development
                a.plink(href='project.html')
                    img.portfolio-image(src='img/700/4.png', alt='')

                    .hover
                        i.icon-view

                .description
                    h2
                        a(href='project.html') Project Description

                    p
                        | Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit, sed do
                        | eiusmod tempor incididunt ut
                        | labore et magna aliqua. Ut enim
                        | ad minim veniam, quis nostrud
                        | exercitation ullamco laboris nisi ut
                        | aliquip. lorem dolor sit amet,
                        | consectetur adipisicing elit, sed do
                        | eiusmod tempor .

                    a.spectrum-button.spectrum-button-medium.view-project(href='project.html') View Project

            article.mix.item.design
                a.plink(href='project.html')
                    img.portfolio-image(src='img/700/5.png', alt='')

                    .hover
                        i.icon-view

                .description
                    h2
                        a(href='project.html') Project Description

                    p
                        | Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit, sed do
                        | eiusmod tempor incididunt ut
                        | labore.

                    a.spectrum-button.spectrum-button-medium.view-project(href='project.html') View Project

            article.mix.item.development
                a.plink(href='project.html')
                    img.portfolio-image(src='img/700/6.png', alt='')

                    .hover
                        i.icon-view

                .description
                    h2
                        a(href='project.html') Project Description

                    p
                        | Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit, sed do
                        | eiusmod tempor incididunt ut
                        | labore et magna aliqua. Ut enim
                        | ad minim veniam, quis nostrud
                        | exercitation ullamco laboris nisi ut
                        | aliquip. lorem dolor sit amet,
                        | consectetur adipisicing elit, sed do
                        | eiusmod tempor incididunt ut
                        | labore et dolore.Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit, sed do
                        | eiusmod tempor incididunt ut
                        | labore.

                    a.spectrum-button.spectrum-button-medium.view-project(href='project.html') View Project

            article.mix.item.design
                a.plink(href='project.html')
                    img.portfolio-image(src='img/700/7.png', alt='')

                    .hover
                        i.icon-view

                .description
                    h2
                        a(href='project.html') Project Description

                    p
                        | Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit, sed do
                        | eiusmod tempor incididunt ut
                        | labore et magna aliqua. Ut enim
                        | ad minim veniam, quis nostrud
                        | exercitation ullamco laboris nisi ut
                        | aliquip. lorem dolor sit amet,
                        | consectetur.

                    a.spectrum-button.spectrum-button-medium.view-project(href='project.html') View Project

            article.mix.item.development
                a.plink(href='project.html')
                    img.portfolio-image(src='img/700/8.png', alt='')

                    .hover
                        i.icon-view

                .description
                    h2
                        a(href='project.html') Project Description

                    p
                        | Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit, sed do
                        | eiusmod tempor incididunt ut
                        | labore et magna aliqua. Ut enim
                        | ad minim veniam, adipisicing elit, sed do
                        | eiusmod tempor incididunt ut
                        | labore et dolore.

                    a.spectrum-button.spectrum-button-medium.view-project(href='project.html') View Project

            .pagination
                ul
                    li.selected
                        a(href='javacript:void(0)') 1

                    li
                        a(href='javacript:void(0)') 2

                    li
                        a(href='javacript:void(0)') 3

                    li.next
                        a(href='javacript:void(0)') Next
