section.wrapper
    .spectrum-row
        .filters
            .filter-container
                .filter(data-filter='all') All

                .filter(data-filter='.design') Design

                .filter(data-filter='.development') Development

                .filter(data-filter='.video') Video

                .filter(data-filter='.audio') Audio


        .clearfix

        .portfolio.four-columns
            .mix.item.design
                a.plink(href='project.html')
                    img.portfolio-image(src='img/230/1.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.development
                a.plink(href='project.html')
                    img.portfolio-image(src='img/230/2.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.video
                a.plink(href='project.html')
                    img.portfolio-image(src='img/230/3.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/230/4.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.development
                a.plink(href='project.html')
                    img.portfolio-image(src='img/230/5.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.video
                a.plink(href='project.html')
                    img.portfolio-image(src='img/230/6.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.development.video
                a.plink(href='project.html')
                    img.portfolio-image(src='img/230/7.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/230/8.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.development.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/230/9.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.video.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/230/10.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.development.video
                a.plink(href='project.html')
                    img.portfolio-image(src='img/230/11.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.development.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/230/12.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.video.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/230/13.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.development.video.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/230/14.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/230/15.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.development.video
                a.plink(href='project.html')
                    img.portfolio-image(src='img/230/16.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .clearfix

            .pagination
                ul
                    li.selected
                        a(href='javacript:void(0)') 1

                    li
                        a(href='javacript:void(0)') 2

                    li
                        a(href='javacript:void(0)') 3

                    li.next
                        a(href='javacript:void(0)') Next
