script(src='js/jquery.mixitup.js')
script.
    jQuery(document).ready(function () {
        jQuery('.portfolio').mixItUp();
    });
section.wrapper
    .spectrum-row
        .filters
            .filter-container
                .filter(data-role='spectrum-button', data-filter='all') All

                .filter(data-role='spectrum-button', data-filter='.design') Design

                .filter(data-role='spectrum-button', data-filter='.development') Development

                .filter(data-role='spectrum-button', data-filter='.video') Video

                .filter(data-role='spectrum-button', data-filter='.audio') Audio

        .clearfix

        .portfolio.two-columns
            .mix.item.design
                a.plink(href='project.html')
                    img.portfolio-image(src='img/470/1.png', alt='')

                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.development.video
                a.plink(href='project.html')
                    img.portfolio-image(src='img/470/2.png', alt='')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.video
                a.plink(href='project.html')
                    img.portfolio-image(src='img/470/3.png', alt='')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.video.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/470/4.png', alt='')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.development.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/470/5.png', alt='')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/470/6.png', alt='')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.video
                a.plink(href='project.html')
                    img.portfolio-image(src='img/470/7.png', alt='')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.development.video.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/470/8.png', alt='')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/470/9.png', alt='')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.development
                a.plink(href='project.html')
                    img.portfolio-image(src='img/470/10.png', alt='')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/470/11.png', alt='')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.development.video
                a.plink(href='project.html')
                    img.portfolio-image(src='img/470/12.png', alt='')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.development.video.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/470/13.png', alt='')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.video.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/470/14.png', alt='')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.development.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/470/15.png', alt='')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.development.video
                a.plink(href='project.html')
                    img.portfolio-image(src='img/470/16.png', alt='')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .clearfix

            .pagination
                ul
                    li.selected
                        a(href='javacript:void(0)') 1

                    li
                        a(href='javacript:void(0)') 2

                    li
                        a(href='javacript:void(0)') 3

                    li.next
                        a(href='javacript:void(0)') Next
