script(src='js/jquery.mixitup.js')
script.
    jQuery(document).ready(function () {
        jQuery('.portfolio').mixItUp();
    });
section.wrapper
    .spectrum-row
        .filters
            .filter-container
                .filter(data-role='spectrum-button', data-filter='all') All

                .filter(data-role='spectrum-button', data-filter='.design') Design

                .filter(data-role='spectrum-button', data-filter='.development') Development

                .filter(data-role='spectrum-button', data-filter='.video') Video

                .filter(data-role='spectrum-button', data-filter='.audio') Audio

        .clearfix


        .portfolio.three-columns
            .mix.item.design
                a.plink(href='project.html')
                    img.portfolio-image(src='img/310/1.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.development
                a.plink(href='project.html')
                    img.portfolio-image(src='img/310/2.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.video
                a.plink(href='project.html')
                    img.portfolio-image(src='img/310/3.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/310/4.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.development.video
                a.plink(href='project.html')
                    img.portfolio-image(src='img/310/5.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.development.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/310/6.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.video.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/310/7.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.development.video.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/310/8.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.development
                a.plink(href='project.html')
                    img.portfolio-image(src='img/310/9.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.video
                a.plink(href='project.html')
                    img.portfolio-image(src='img/310/10.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.development.video
                a.plink(href='project.html')
                    img.portfolio-image(src='img/310/11.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/310/12.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.development.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/310/13.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.video.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/310/14.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .mix.item.design.development.video.audio
                a.plink(href='project.html')
                    img.portfolio-image(src='img/310/15.png')
                    .hover
                        i.icon-view

                h3
                    a(href='project.html') Project title

                p Category

            .clearfix

            .pagination
                ul
                    li.selected
                        a(href='javacript:void(0)') 1

                    li
                        a(href='javacript:void(0)') 2

                    li
                        a(href='javacript:void(0)') 3

                    li.next
                        a(href='javacript:void(0)') Next
