//Section
section
    .spectrum-row
        iframe.project-image(src='//player.vimeo.com/video/1084537', width='960', height='540', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

        div
            .three-fourth.border-right
                h2.section-title Project Description

                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. lorem
                    | dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.

            .one-fourth
                h2.section-title Other Info

                p Client: John Does

                p Tools: Photoshop

                p Link: www.linksample.com
//./Section