doctype html
html(lang="en")
    include ../header/header

    body
        include ../header/menu
        include ../header/contact

        .page-title
            .spectrum-row
                block title

        block content

        include ../footer/footer
