.widget
    h2.post-title-underline Offer Box
    .offer
        h1 20%

        p
            | Lorem ipsum dolor sit amet,
            | consectetur adipisicing elit,
            | eiusmod tempor incididunt

        a.spectrum-button.spectrum-button-large.margin-top(href='#') See More
