.widget
    h2.post-title-underline Testimonials

    p.quote
        | &ldquo;Lorem ipsum dolor sit ,
        | consectetur adipisicing
        | sed do eiusmodtempor
        | incididunt ut labore et
        | dolore magna aliqua.&rdquo;

    p.center By John Doe

    h6.center CEO at JohnCorporation
