#contact
    .spectrum-row
        ul.contact
            li
                a(href='#')
                    i.icon-mobile-block
                    | 355 65 23 34 232

            li
                a(href='#')
                    i.icon-envelope1-block
                    | contact@spectrum.com

        ul.social-icons.float-right
            li
                a(href='#')
                    i.icon-facebook-block

            li
                a(href='#')
                    i.icon-twitter-block

            li
                a(href='#')
                    i.icon-linkedin-block

            li
                a(href='#')
                    i.icon-pinterest-block

            li
                a(href='#')
                    i.icon-skype-block

            li
                a(href='#')
                    i.icon-vimeo-block
