//Header
header#header
    .spectrum-row
        //Logo
        a(href='index.html')
            img.logo(src='img/logo.png', alt='Logo')

        .menu-icon
            i.icon-list2-block

        //Menu
        ul.menu
            li.selected.parent
                a(href='index.html')
                    | Home
                i.icon-arrowdown

                ul
                    li
                        a(href='index-2.html') Home 2

                    li
                        a(href='index-3.html') Home 3

                    li
                        a(href='index-4.html') Home 4

                    li
                        a(href='index-5.html') Home 5

                    li
                        a(href='index-6.html') Home 6

                    li.parent
                        a(href='#')
                            | Level 1
                        i.icon-arrowright

                        ul
                            li
                                a(href='#') Level 2

                            li.parent
                                a(href='#')
                                    | Level 2
                                i.icon-arrowright

                                ul
                                    li
                                        a(href='#') Level 3

                                    li.parent
                                        a(href='#')
                                            | Level 3
                                        i.icon-arrowright

                                        ul
                                            li
                                                a(href='#') Level 4

            li.parent
                a(href='portfolio.html')
                    | Portfolio
                i.icon-arrowdown

                ul
                    li
                        a(href='portfolio-2.html') Portfolio 2

                    li
                        a(href='portfolio-3.html') Portfolio 3

                    li
                        a(href='portfolio-4.html') Portfolio 4

                    li
                        a(href='project.html') Single Project

                    li
                        a(href='project-audio.html') Project Audio

                    li
                        a(href='project-video.html') Project Video

            li.parent
                a(href='#')
                    | Pages
                i.icon-arrowdown

                ul
                    li
                        a(href='about-me.html') About Me

                    li
                        a(href='about-us-1.html') About Us 1

                    li
                        a(href='about-us-2.html') About Us 2

                    li
                        a(href='about-us-3.html') About Us 3

                    li
                        a(href='404.html') 404

                    li
                        a(href='faq.html') FAQ

                    li
                        a(href='full-width.html') Full Width

                    li
                        a(href='left-sidebar.html') Left Sidebar

                    li
                        a(href='right-sidebar.html') Rigth Sidebar

                    li
                        a(href='pricing-tables.html') Pricing Tables

                    li
                        a(href='services-1.html') Services 1

                    li
                        a(href='services-2.html') Services 2

                    li
                        a(href='our-team.html') Our Team

                    li
                        a(href='testimonials.html') Testimonials

            li.parent
                a(href='blog.html')
                    | Blog
                i.icon-arrowdown

                ul
                    li
                        a(href='blog-left-sidebar.html') Blog Left Sidebar

                    li
                        a(href='blog-right-sidebar.html') Blog Right Sidebar

                    li
                        a(href='blog-thumb.html') Blog Thumb

                    li
                        a(href='blog-single.html') Blog Single

                    li
                        a(href='blog-single-left-sidebar.html') Blog Single Left Sidebar

                    li
                        a(href='blog-single-right-sidebar.html') Blog Single Right Sidebar

            li.parent
                a(href='contact.html')
                    | Contact
                i.icon-arrowdown

                ul
                    li
                        a(href='contact-full-map.html') Contact Full Map
        //./Menu
//./Header