extends  ../includes/layouts/default
block title
    | About Us
block content
    - var type = 'round',hidetitle = true
    include ../includes/sections/team
    include ../includes/sections/three-fourth-right-ul
    include ../includes/sections/skills-circled