extends  ../includes/layouts/default
block title
   | About Us
block content
   include ../includes/sections/group-image
   include ../includes/sections/three-fourth-right-ul
   include ../includes/sections/team
