extends  ../includes/layouts/default
block title
    | About me
block content
    include ../includes/sections/me
    include ../includes/sections/three-fourth
    include ../includes/sections/skills-circled
