extends  ../includes/layouts/default
block title
   | About Us
block content
   include ../includes/sections/strategy
   include ../includes/sections/three-fourth
   include ../includes/sections/skills-bar
      
