extends  ../includes/layouts/layout
block content
    include ../includes/sections/slider-2
    include ../includes/sections/three-fourth
    include ../includes/sections/works3
    include ../includes/sections/different-layouts

    include ../includes/sections/recent-blogs
    include ../includes/sections/clients
