extends  ../includes/layouts/layout

block content

    include ../includes/sections/slider-2

    - var type = 'square-icons'

    include ../includes/sections/features

    include ../includes/sections/works

    include ../includes/sections/text-icons

    include ../includes/sections/testimonials-carousel
