extends  ../includes/layouts/layout

block content

    include ../includes/sections/slider

    - var type = 'circle-icons'

    include ../includes/sections/features

    include ../includes/sections/works

    include ../includes/sections/services

    include ../includes/sections/clients
