extends  ../includes/layouts/layout

block content

    include ../includes/sections/slider

    - var type = 'circle-icons'

    include ../includes/sections/features

    include ../includes/sections/recent-blogs

    include ../includes/sections/three-fourth

    include ../includes/sections/clients
