extends  ../includes/layouts/layout

block content

    include ../includes/sections/slider-2

    include ../includes/sections/three-fourth

    - var count = 5

    include ../includes/sections/pricing-tables

    include ../includes/sections/services

    include ../includes/sections/buy-now

    include ../includes/sections/team
