extends  ../includes/layouts/layout

block content

    include ../includes/sections/slider

    - var type = 'circle'

    include ../includes/sections/features

    include ../includes/sections/simple-text

    include ../includes/sections/works

    include ../includes/sections/text-icons

    include ../includes/sections/parallax

    include ../includes/sections/testimonials-carousel
