@import url("http://fonts.googleapis.com/css?family=PT+Sans");
@import url("http://fonts.googleapis.com/css?family=Lato:300");

@font-face {
  font-family: 'spectrum';
  src: font-url("spectrum.eot");
  src: font-url("spectrum.eot") format("embedded-opentype"), font-url("spectrum.woff") format("woff"), font-url("spectrum.ttf") format("truetype"), url("spectrum.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}