//Colors
$text-color: #747474;
$blue: #6cc5d5;
$border-color: #e6e7e8;
$gray: #f1f2f2;
$icon-color: #abaeaf;
$button-color: #939598;
$menu-color: #9b9b9b;
$footer-background: #343434;
$footer-color: #999999;
$copyright-background: #272727;
$copyright-color: #727272;

//Borders
$section-border: 1px solid $border-color;
$gray-border: 1px solid $gray;
$icon-border: 1px solid $icon-color;
$input-border: 1px solid #d9dadb;
$button-border: 1px solid #c0c1c2;
$features-border: 1px solid #d7d9d9;
$footer-border: 1px solid #4d4d4d;

//Fonts
$lato: "Lato", sans-serif;
$pt-sans: "PT Sans", sans-serif;