.widget
    h2.post-title-underline Category
    .accordion
        each val in ['Design', 'Nes', 'Games', 'Technology', 'Movies']
            h5 #{val}
            div
                ul
                    li
                        a(href='#') Logo

                    li
                        a(href='#') Web

                    li
                        a(href='#') Branding

                    li
                        a(href='#') Print