.widget
    h2.post-title-underline Top Commented
    .top-comments
        span 12

        a(href='blog-single.html') Lorem ipsum dolor

        h6 20 April 2013

    .top-comments
        span 12

        a(href='blog-single.html') Lorem ipsum dolor

        h6 20 April 2013

    .top-comments
        span 12

        a(href='blog-single.html') Lorem ipsum dolor

        h6 20 April 2013

    .top-comments
        span 12

        a(href='blog-single.html') Lorem ipsum dolor

        h6 20 April 2013
