section.wrapper-4
    .spectrum-row
        aside.sidebar.left
            include sidebar/sidebar
        .content

            include blog-content

            .load-more
                a.spectrum-button.spectrum-button-large(href='blog-single.html') Older Posts
