section.wrapper-4
    .spectrum-row
        .content.blog.single-blog

            include blog-single-content

            include comments

            include comment-form

        aside.sidebar.right
            include sidebar/sidebar