section.wrapper-4
    .spectrum-row
        aside.sidebar.left
            include sidebar/sidebar
        .content.blog.single-blog

            include blog-single-content

            include comments

            include comment-form