section.wrapper-4
    .spectrum-row
        .content
            include blog-content

            .load-more
                a.spectrum-button.spectrum-button-large(href='blog-single.html') Older Posts

        aside.sidebar.right
            include sidebar/sidebar