h2.post-title
    a(href='#') Lorem Ipsum Blog Title

img.blog-image(src='img/960/group.png')

.details
    span.author
        i.icon-user.text-icon
        | By
        a(href='#') John Doe

    span.date
        i.icon-clock.text-icon
        a(href='#') 20 April 2013

    span.category
        i.icon-file.text-icon
        a(href='#') Web Design

    span.comments
        i.icon-chat.text-icon
        a(href='#') Comments 5

p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula feugiat blandit. Nulla facilisi.
    | Nulla tellus nisi, congue id tristique vitae, lacinia iaculis
    | magna. Curabitur mattis nec nisi non consequat. Morbi nunc nisi, scelerisque in ornare ut, congue
    | viverra lectus. Ut ut pretium elit. Donec laoreet eros sit amet
    | purus tempus, nec faucibus enim scelerisque. Vivamus fermentum risus sapien, non sodales est vestibulum
    | nec. Cras aliquet porttitor enim at adipisc.


br

p
    | Quisque vestibulum, nibh quis accumsan ullamcorper, justo neque commodo nibh, ut porttitor elit lectus
    | quis risus.Integer eget sodales turpis, vitae bibendum
    | dolor. Curabitur congue magna eu augue interdum, euismod cursus nibh lobortis. Vestibulum tincidunt sem
    | vel mattis semper. Mauris id imperdiet nisi. Ut
    | volutpat dui sed lorem consectetur euismod. Vestibulum ante ipsum primis in faucibus orci luctus et
    | ultrices posuere cubilia Curae; Nullam gravida quis urna
    | vel aliquam. In id ligula vitae tortor facilisis molestie at ac turpis. Suspendisse potenti. Nam
    | pharetra gravida.