.comments-header
    span
        i.icon-chat.text-icon
        | Hide 5 comments

    a.align-right(href='javascript:void(0)')
        i.collapse.icon-minus-block
.comments
    .comment
        i.icon-user.squared.text-icon

        h6
            | John Doe 20th April 2013
            a.reply(href='#') Reply

        p.description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula feugiat blandit.
            | Nulla facilisi. Nulla
            br
            tellus nisi, congue id tristique vitae, lacinia iaculis magna.

    .comment.replied
        i.icon-user.squared.text-icon

        h6
            | John Doe 20th April 2013
            a.reply(href='#') Reply

        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

    .comment
        i.icon-user.squared.text-icon

        h6
            | John Doe 20th April 2013
            a.reply(href='#') Reply

        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

    .comment
        i.icon-user.squared.text-icon

        h6
            | Jane Doe 20th April 2013
            a.reply(href='#') Reply

        p This &ldquo;Lorem ipsum&rdquo; is making me sick.

    .comment
        i.icon-user.squared.text-icon

        h6
            | John Doe 20th April 2013
            a.reply(href='#') Reply

        p You&rsquo;re right Jane.
