@media (max-width: 768px) {
  #slider .slider li .tp-caption {

  }

  .testimonials{
    padding: 0 20px;
  }

  .blog .details .more{
    float: none;
    position: static;
    display: table;
    margin: 30px auto 0;
  }
}