footer#footer
   .spectrum-row
      .footer.columns.columns-4
         .col
            h5 About Us

            p
               | Lorem ipsum dolor amet, consect
               | adipisicing elit, sed eiusmod tempor
               | incididunt ut dolore magna aliqu.
               | Ut enimminim veniam, quis nostrud
               | exercitation ullamco laboris nisi.

         .col
            h5 Recent Blogs

            a(href='blog-single.html') Lorem Ipsum Post

            a(href='blog-single.html') Lorem Ipsum Dolor Audio

            a(href='blog-single.html') Lorem Ipsum Max Video

            a(href='blog-single.html') Lorem Ipsum Dolor

            a(href='blog-single.html') Lorem Ipsum Dolor

         .col
            h5 CONTACT INFO

            .contact
               a(href='#')
                  i.icon-home2-block.text-icon
                  | Witmer Niagara Falls, NY 14305

               a(href='#')
                  i.icon-mobile-block.text-icon
                  | 355 65 23 34 232

               a(href='#')
                  i.icon-envelope1-block.text-icon
                  | contact@spectrum.com

               a(href='#')
                  i.icon-location1-block.text-icon
                  |  find us on map

         .col
            h5.no-border Flickr

            .flickr
               a(href='#')
                  img(src='img/flickr/1.png', alt='1')

               a(href='#')
                  img(src='img/flickr/2.png', alt='2')

               a(href='#')
                  img(src='img/flickr/3.png', alt='3')

               a(href='#')
                  img(src='img/flickr/4.png', alt='4')

               a(href='#')
                  img(src='img/flickr/5.png', alt='5')

               a(href='#')
                  img(src='img/flickr/6.png', alt='6')

               a(href='#')
                  img(src='img/flickr/7.png', alt='7')

               a(href='#')
                  img(src='img/flickr/8.png', alt='8')

               a(href='#')
                  img(src='img/flickr/9.png', alt='9')
#copyright
   .spectrum-row
      p.float-left All Rights Reserved Spectrum 2015

      ul.social-icons.float-right
         li
            a(href='#')
               i.icon-facebook-block

         li
            a(href='#')
               i.icon-twitter-block

         li
            a(href='#')
               i.icon-linkedin-block

         li
            a(href='#')
               i.icon-pinterest-block

         li
            a(href='#')
               i.icon-googleplus-block

#load

script(src='js/scrollReveal.js')

script.
   window.sr = new scrollReveal();
