//Section
section
    .spectrum-row
        .three-fourth.border-right
            h2.section-title About Us

            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. lorem
                | dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.

        .one-fourth
            h2.section-title Get in touch

            .social-icons.large-icons
                a(href='#')
                    i.icon-facebook.bordered

                a(href='#')
                    i.icon-twitter.bordered

                a(href='#')
                    i.icon-linkedin.bordered

                a(href='#')
                    i.icon-googleplus.bordered
//./Section