//Section
section(data-sr='wait 0.3s then scale up 15%')
    .spectrum-row
        //Features
        .features(class="#{type}")
            .feature
                i.icon-pencilbold

                h2 Clean Design

                p
                    | Lorem ipsum dolor sit amet lorem
                    | consectetuer adipiscing elit. ipsum
                    | ligula eget dolorenean sit amet.

            .feature
                i.icon-file

                h2 Several Layouts

                p
                    | Lorem ipsum dolor sit amet lorem
                    | consectetuer adipiscing elit. ipsum
                    | ligula eget dolorenean sit amet.

            .feature
                i.icon-ipad

                h2 Responsive Design

                p
                    | Lorem ipsum dolor sit amet lorem
                    | consectetuer adipiscing elit. ipsum
                    | ligula eget dolorenean sit amet.

        //./Features
//./Section