//Section
section.gray-section
    .spectrum-row
        .me
            h1 Hello, my name is Jane Doe

            p Lorem ipsum dolor sit amet, consectetur eiusmod tempor

            br

            p.ticked
                i.icon-check-block.circled
                | Lorem ipsum dolor sit amet consectetur

            p.ticked
                i.icon-check-block.circled
                | Lorem ipsum dolor sit amet

            p.ticked
                i.icon-check-block.circled
                | Lorem ipsum dolor sit amet elit
//./Section