//Section
section(data-sr='wait 0.3s then scale up 15%')
    .spectrum-row
        h2.section-title Services
        //Services
        .services
            .service
                i.icon-note2-block

                p Lorem Ipsum

                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    | labore et dolore magna.

            .service
                i.icon-check-block

                p Lorem Ipsum

                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    | labore et dolore magna.

            .service
                i.icon-file-block

                p Lorem Ipsum

                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    | labore et dolore magna.

            .service
                i.icon-star-block

                p Lorem Ipsum

                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    | labore et dolore magna.

            .service
                i.icon-cloud-block

                p Lorem Ipsum

                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    | labore et dolore magna.

            .service
                i.icon-location2-block

                p Lorem Ipsum

                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    | labore et dolore magna.

        //./Services
//./Section