//Services
section
    .spectrum-row
        .features.circle-icons
            .feature
                i.icon-refresh1

                h2 Clean Design

                p
                    | Lorem ipsum dolor sit amet lorem
                    | consectetuer adipiscing elit. ipsum
                    | ligula eget dolorenean sit amet.

            .feature
                i.icon-star

                h2 Several Layouts

                p
                    | Lorem ipsum dolor sit amet lorem
                    | consectetuer adipiscing elit. ipsum
                    | ligula eget dolorenean sit amet.

            .feature
                i.icon-check

                h2 Responsive Design

                p
                    | Lorem ipsum dolor sit amet lorem
                    | consectetuer adipiscing elit. ipsum
                    | ligula eget dolorenean sit amet.

            .feature
                i.icon-cloud

                h2 Clean Design

                p
                    | Lorem ipsum dolor sit amet lorem
                    | consectetuer adipiscing elit. ipsum
                    | ligula eget dolorenean sit amet.

            .feature
                i.icon-file

                h2 Several Design

                p
                    | Lorem ipsum dolor sit amet lorem
                    | consectetuer adipiscing elit. ipsum
                    | ligula eget dolorenean sit amet.

            .feature
                i.icon-location

                h2 Responsive Design

                p
                    | Lorem ipsum dolor sit amet lorem
                    | consectetuer adipiscing elit. ipsum
                    | ligula eget dolorenean sit amet.
//./Services