section(data-sr='wait 0.3s then scale up 15%')
    .spectrum-row
        h1.heading-title We are a talented group of developers and designers.


        h4.lato.center.upper Spectrum template is the best way to present your work and your business online.
