//Section
section
    .spectrum-row
        - if (typeof(hidetitle) === 'undefined')
            h2.section-title(class="#{align}") Meet Our Team
        //Team
        .team.team-4(class="#{type}")
            .member
                a(href='#')
                    img.picture(src='img/team/1.png')

                h2
                    a(href='#') John Doe

                p Co Founder

                ul.social-icons
                    li
                        a(href='#')
                            i.icon-facebook-block.icon

                    li
                        a(href='#')
                            i.icon-twitter-block.icon

                    li
                        a(href='#')
                            i.icon-linkedin-block.icon

                    li
                        a(href='#')
                            i.icon-pinterest-block.icon

                    li
                        a(href='#')
                            i.icon-googleplus-block.icon
            .member
                a(href='#')
                    img.picture(src='img/team/2.png')

                h2
                    a(href='#') Jane Smith

                p Ceo

                ul.social-icons
                    li
                        a(href='#')
                            i.icon-facebook-block.icon

                    li
                        a(href='#')
                            i.icon-twitter-block.icon

                    li
                        a(href='#')
                            i.icon-linkedin-block.icon

                    li
                        a(href='#')
                            i.icon-pinterest-block.icon

                    li
                        a(href='#')
                            i.icon-googleplus-block.icon
            .member
                a(href='#')
                    img.picture(src='img/team/3.png')

                h2
                    a(href='#') John Smith

                p Web Designer

                ul.social-icons
                    li
                        a(href='#')
                            i.icon-facebook-block.icon

                    li
                        a(href='#')
                            i.icon-twitter-block.icon

                    li
                        a(href='#')
                            i.icon-linkedin-block.icon

                    li
                        a(href='#')
                            i.icon-pinterest-block.icon

                    li
                        a(href='#')
                            i.icon-googleplus-block.icon
            .member
                a(href='#')
                    img.picture(src='img/team/4.png')

                h2
                    a(href='#') Jane Doe

                p Photographer

                ul.social-icons
                    li
                        a(href='#')
                            i.icon-facebook-block.icon

                    li
                        a(href='#')
                            i.icon-twitter-block.icon

                    li
                        a(href='#')
                            i.icon-linkedin-block.icon

                    li
                        a(href='#')
                            i.icon-pinterest-block.icon

                    li
                        a(href='#')
                            i.icon-googleplus-block.icon
        //./Team
//./Section