//Section
section(data-sr='wait 0.3s then scale up 15%')
    .spectrum-row
        h2.section-title Testimonials

        //Testimonials
        .testimonials
            each val in [1,2,3]
                div
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere urna id lacus ullamcorper
                        | porttitor. Nam ac iaculis nisi, in sodales est. Aliquam quis ullamcorper ligula. Etiam tincidunt
                        | eget ipsum eu porta. Aenean aliquet nunc sed scelerisque sollicitudin.

                    p John Doe from JohnCorporation
//./Section