//Section
section
    .spectrum-row
        //Three Fourth
        .three-fourth
            h2.section-title Who we are

            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula feugiat blandit. Nulla facilisi.
                | Nulla tellus nisi, congue id tristique vitae, lacinia iaculis magna. Curabitur mattis nec nisi non
                | consequat.
                | Morbi nunc nisi, scelerisque in ornare ut, congue viverra lectus. Ut ut pretium elit. Donec laoreet eros
                | sit amet purus tempus, nec faucibus enim scelerisque. Vivamus fermentum risus sapien.Lorem ipsum
                | dolor sit amet, consectetur adipiscing elit. Nulla vehicula feugiat blandit.
        //./Three Fourth

        //One Fourth
        .one-fourth
            h2.section-title What We Do

            p.ticked
                i.icon-check
                | Lorem ipsum dolor sit amet

            p.ticked
                i.icon-check
                | Lorem ipsum dolor sit amet

            p.ticked
                i.icon-check
                | Lorem ipsum dolor sit amet

            p.ticked
                i.icon-check
                | Lorem ipsum dolor sit amet
        //./One Fourth
//./Section