//Section
section
    .spectrum-row
        //Three Fourth
        .three-fourth.border-right
            h2.section-title About Us

            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip lorem.
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip lorem.
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
        //./Three Fourth

        //One Fourth
        .one-fourth
            h2.section-title Get in touch

            .social-icons.large-icons
                a(href='#')
                    i.icon-facebook-block

                a(href='#')
                    i.icon-twitter-block

                a(href='#')
                    i.icon-linkedin-block

                a(href='#')
                    i.icon-googleplus-block

                a(href='#')
                    i.icon-skype-block

                a(href='#')
                    i.icon-vimeo-block
        //./One Fourth
//./Section