section
    .spectrum-row
        h2.section-title.center(data-sr='wait 0.3s then scale up 15%') Recent Work

        .portfolio.portfolio-grid
            .item(data-sr='wait 0.4s then enter left 15%')
                a.plink(href='project.html')
                    img.portfolio-image(src='img/work1.jpg')

                    .hover
                        i.icon-view

            .item(data-sr='wait 0.5s then enter top')
                a.plink(href='project.html')
                    img.portfolio-image(src='img/work2.jpg')

                    .hover
                        i.icon-view

            .item(data-sr='wait 0.6s then enter right')
                a.plink(href='project.html')
                    img.portfolio-image(src='img/work3.jpg')

                    .hover
                        i.icon-view
